
body {
    font-family: 'EB Garamond', serif;
    color: #825C51;

}

.contenedor-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .imagen {
        width: 70%;
        display: flex;
        justify-content: center;
        img {
            width: 50%;
        }
    }
    .mapa {
        background-color: #825C51;
        padding: 20px;
        color: white;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
            .imagen-mapa {
                width: 100%;
                overflow: hidden;
            }
        }
        
    .cursiva {
        font-style: italic;
    }
    .cosas {
        width: 70%;
        background-color: #825C51;
        padding: 30px;
        color: white;
        font-size: 20px;
        margin-bottom: 50px;
        a {
            color: white;
        }
        .regalo {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin: 0;
            }
        }
    }



}
@media (max-width: 375px) {
 .contenedor-pagina{
    .imagen {
        width: 100%;

    }
    .mapa {
        padding: 5px;
        .imagen-mapa {
            width: 100%;
        }
    }
    p {
        text-align: center;
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }

 }
    
}